
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Shadows+Into+Light&display=swap');

*{
   box-sizing: border-box;
}

body{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   background-color: #414D57;
   color: white;
   overflow-x: scroll;
   min-width: 250px;
}

.App {
  text-align: center;
}








