header{
   display: flex;
   justify-content: space-between;
   background-color: #252526;
   height: 60px;
   width: 100%;
   
}

.navigation{
   display: inline-block;
}

.navigation ul {
   margin-top: 0;
   display: flex;
   flex-flow: wrap;
}

.navigation ul li
{
   display: inline-block;
   list-style-type: none;
   padding-right: 10px;
   padding-top: 15px;
} 

a{
   text-decoration: none;
   color: white;
}

.navigation > ul > li > a:hover{
   background-color: 'white'; 
   color: 'black';
   font-weight: 'bold'; 
   padding: '3px';
}

.nameDiv > h3{
   padding-left: 10px;
}